<!--View responsible for displaying the homepage of the farmer.-->

<h2>Welcome, to add a new product, click the button "Add Product" as shown in the image below:  </h2>
<br />
<br />
<br />
<br />
<br />
<br />
<img src="~/Photos/F1.jpg" style="width: 900px; height: 400px;" />





<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

