<!--View responsible for the appearence of the Homepage of the web application.-->

<main>
    <div class="text-center">
        <p class="parag"><h1>Welcome to the Farm Central Website</h1></p>
        <style>
            .parag {
                margin-bottom: 10px;
            }
        </style>
        <br />
        <br />
        <h3>Please choose below how you would like to Log in:</h3>
        <br />
        <br />

    </div>

    <div class="text-center">
        <a href="~/Home/Login?role=Admin" class="btn btn-danger" style="padding: 100px 100px; font-size: 16px;">
            <img src="~/Photos/adm.png" alt="Admin" style="width: 40px; height: 40px;" />
            Login as an Employee
        </a>

        <a href="~/Home/Login1?role=Employee" class="btn btn-primary" style="padding: 100px 100px; font-size: 16px;">
            <img src="~/Photos/user.png" alt="Employee" style="width: 40px; height: 40px;" />
            Login as a Farmer
        </a>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>